:host {
    height: calc(100% - 64px);
    max-height: calc(100% - 64px);
    display: block;
    width: 100%;
    overflow: hidden;
    .top-menu {
        display: flex;
        padding: 0;
        justify-content: center;
        height: 48px;
        box-shadow: 0 0px 1px 1px #888;
        .mat-list-item {
            min-width: 80px;
            transition: all 0.2s ease-in;
            background-color: transparent;
            color: #333;
            &.active {
                background-color: #4a60db;
                color: #FFF;
                transition: all 0.2s ease-out;
            }
            ::ng-deep .mat-list-item-content {
                justify-content: center;
            }
        }
    }
}


