<div class="projects" *ngIf="isAdmin">
  <div class="header">
    <mat-expansion-panel *ngIf="isAdmin" [(expanded)]="addingProject">
      <mat-expansion-panel-header>
        <mat-panel-title>
          添加项目
        </mat-panel-title>
        <mat-panel-description>
          新建标注项目
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent class="project-panel">
        <mat-form-field class="add-field">
          <input matInput placeholder="项目名称" [formControl]="nameFormControl" [errorStateMatcher]="matcher">
          <mat-error *ngIf="nameFormControl.hasError('required')">
            必须填写
            <strong>项目名称</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="add-field">
          <input matInput placeholder="项目概述" [formControl]="descriptionFormControl" [errorStateMatcher]="matcher">
        </mat-form-field>
        <button [disabled]="nameFormControl.invalid || descriptionFormControl.invalid" *ngIf="isAdmin" mat-stroked-button color="primary"
          (click)="add()">
          新建
        </button>
      </ng-template>
    </mat-expansion-panel>
  </div>
  <div class="markers">
    <mat-list>
      <h3 mat-subheader>标注项目</h3>
      <mat-list-item *ngFor="let marker of markers" class="list-item project-item" (click)="selectProject(marker.id)">
        <mat-icon mat-list-icon class="icon-default">folder</mat-icon>
        <mat-icon *ngIf="isAdmin" (click)="delete(marker.id, $event)" mat-list-icon class="icon-hover">close</mat-icon>
        <h4 mat-line>
          {{marker.name}}
          <span>{{marker.updatedAt | date:"yyyy-MM-dd HH:mm"}}</span>
        </h4>
        <p mat-line> {{marker.description}} </p>
        <mat-icon mat-list-icon-right color="primary" class="indicator-right">arrow_forward_ios</mat-icon>
      </mat-list-item>
    </mat-list>
  </div>
</div>
<div class="jobs">
  <mat-list>
    <h3 mat-subheader>标注任务</h3>
    <mat-list-item *ngFor="let job of jobs" class="list-item job-item" (click)="selectJob(job)">
      <mat-icon mat-list-icon class="icon-default">assignment</mat-icon>
      <h4 mat-line>
        {{job.name}}
        <span>marks: {{job.marks.length}} / prejob: {{job.preCount}}</span>
      </h4>
      <p mat-line> {{job.active ? (job.commit > job.rollback ? '已完成' : '处理中...') : '等待中...'}} </p>
      <mat-icon mat-list-icon-right color="primary" class="indicator-right">arrow_forward_ios</mat-icon>
    </mat-list-item>
  </mat-list>
</div>